.Trends {
    width: 1440px;
    height: 566px;
    padding: 0;
    margin-top: 80px;
    background-color: #DC1E0F;
}

.trends-title {
    font-family: Roboto;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    line-height: 32px;
    text-align: left;
    color: white;
    padding-top: 50px;
    margin-left: 70px
}

.cards-container {
    width: 1300px;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 70px;
    overflow: hidden;

}

.cards {
    min-width: 240px;
    height: 402px;
    background-color: white;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 0px 2px 6px 0px #CCCACA;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px
}

.producto-imagen {
    width: 188px;
    height: 188px;
}

.producto-nombre {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #5E5E5E;

}

.producto-precio {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    line-height: 28.13px;
    text-align: center;
    color: #000000B8;
}

.producto-comprar {
    width: 117px;
    height: 33px;
    gap: 0px;
    border-radius: 20px;
    border: 1px solid #DC1E0F;
    background-color: white;
    margin-left: 38px;
    cursor: pointer;
}

.producto-comprar:hover {
    background-color: #DC1E0F;
    color: white
}

.button-prev {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 60px;
    top: 970px;
    background-color: white;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 4px 20px 0px #80808040;
    cursor: pointer;
}

.button-next {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 1350px;
    top: 970px;
    background-color: white;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 4px 20px 0px #80808040;
    cursor: pointer;
}

@media (max-width:360px) {

    .Trends {
        width: 360px;
        height: 380px;
        gap: 32px;
        margin-top: 40px;

    }

    .trends-title {
        font-family: Roboto;
        width: 142px;
        font-size: 24px;
        font-style: italic;
        font-weight: 800;
        line-height: 32px;
        position: relative;
        left: -60px;
        top: -10px
    }

    .cards-container {
        width: 350px;
        height: 277px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        overflow: hidden;
        margin-left: 0px;
        padding-left: 8px;
    }

    .cards {
        min-width: 160px;
        height: 233px;
        background-color: white;
        border: 1px solid white;
        border-radius: 6px;
        box-shadow: 0px 2px 6px 0px #CCCACA;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .producto-imagen {
        width: 99.35px;
        height: 99.35px;
    }

    .producto-nombre {
        width: 112px;
        height: 40px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;

    }

    .producto-precio {
        width: 66px;
        height: 14px;
        top: 183px;
        left: 50px;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 600;
        line-height: 14.06px;
        text-align: center;
        margin-left: 20px
    }

    .producto-comprar {
        width: 58px;
        height: 18px;
        border-radius: 20px;
        border: 1px solid #DC1E0F;
        background-color: white;
        margin-left: 25px;
        padding-top: 2px;
        cursor: pointer;
        color: #DC1E0F;
        text-align: center;
        font-size: 10px;
        font-weight: 500;
        line-height: 12.5px;
        text-align: center;


    }

    .producto-comprar:hover {
        background-color: #DC1E0F;
        color: white
    }

    .button-trends-mini {
        display: flex;
        position: absolute;
        width: 109px;
        height: 10px;
        top: 670px;
        left: 125px;
        justify-content: space-around;
    }

    .button-trends-mini>button{
        width: 10px;
        height: 10px;
        border: 1px solid white;
        border-radius: 100%;
        background-color: transparent;
        cursor: pointer;
    }

    .button-trends-mini>button:hover {
        background-color: white
    }
    
    .button-trends-mini>button.selected {
        background-color: white;
    }

}