.categories-box {
    margin-top: 80px;
}

.group1250 {
    width: 1300px;
    height: 455px;
    padding-left: 70px;
}

.cat-title {
    color: black;
    font-family: Roboto;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    line-height: 32px;
    text-align: left;

}

.cat-container {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.zapatillas {
    width: 316.22px;
    height: 391px;
    background-color: #BF2A2F;
    background-image: url("../../assets/zapasNike.jpeg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.futbol {
    width: 644.14px;
    height: 193px;
    margin-left: 11.71px;
    background-color: #BF2A2F;
    background-image: url("../../assets/botines.jpeg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.calzas {
    width: 644.14px;
    height: 193px;
    margin-left: 327.92px;
    margin-top: -193px;
    background-color: #BF2A2F;
    background-image: url("../../assets/calzas.jpeg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.pelotas {
    width: 316.22px;
    height: 391px;
    margin-left: 11.7px;
    margin-top: -390px;
    background-color: #BF2A2F;
    background-image: url("../../assets/pelotas.jpeg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.zapatillas>h3 {
    width: 241px;
    height: 45px;
    padding-top: 290px;
    padding-left: 20px;
    font-family: Rubik;
    font-size: 38px;
    font-weight: 800;
    line-height: 45.03px;
    text-align: left;
    color: white;
}

.futbol>h3 {
    width: 155px;
    height: 45px;
    padding-top: 95px;
    padding-left: 20px;
    font-family: Rubik;
    font-size: 38px;
    font-weight: 800;
    line-height: 45.03px;
    text-align: left;
    color: white;
}

.calzas>h3 {
    width: 157px;
    height: 45px;
    padding-top: 95px;
    padding-left: 20px;
    font-family: Rubik;
    font-size: 38px;
    font-weight: 800;
    line-height: 45.03px;
    text-align: left;
    color: white;
}

.pelotas>h3 {
    width: 177px;
    height: 45px;
    padding-top: 290px;
    padding-left: 20px;
    font-family: Rubik;
    font-size: 38px;
    font-weight: 800;
    line-height: 45.03px;
    text-align: end;
    color: white;

}

@media (max-width: 360px) {

    .categories-box {
        width: 360px;
        height: 299px;
        gap: 14px;
        margin-top: 40px
    }

    .group1250 {
        padding-left: 0px;
    }

    .cat-title {
        width: 304.79px;
        height: 56px;
        padding: 0px, 16px, 0px, 16px;
        gap: 10px;
        font-family: Roboto;
        font-size: 24px;
        font-style: italic;
        font-weight: 800;
        line-height: 28px;
        text-align: left;
        margin-left: 9px
      
    }

    .cat-container-mini {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        width: 360px;
        height: 229px;
        gap: 14px;
        
    }

    .zapatillas {
        width: 360px;
        height: 208px;
        background-color: #BF2A2F;
        background-image: url("../../assets/zapasNike.jpeg");
        background-size: cover;
        background-position: center;
    }
    
    .futbol {
        width: 360px;
        height: 208px;
        background-color: #BF2A2F;
        background-image: url("../../assets/botines.jpeg");
        background-size: cover;
        background-position: center;
        margin-top: 0;
        margin-left: 0;
        position: absolute;
    }
    .calzas {
        width: 360px;
        height: 208px;
        background-color: #BF2A2F;
        background-image: url("../../assets/calzas.jpeg");
        background-size: cover;
        background-position: center;
        margin-top: 0;
        margin-left: 0;
        position: absolute;
    }
    .pelotas {
        width: 360px;
        height: 208px;
        background-color: #BF2A2F;
        background-image: url("../../assets/pelotas.jpeg");
        background-size: cover;
        background-position: center;
        margin-top: 0;
        margin-left: 0;
        position: absolute; 
    }
    


}