.Hero {
    width: 1442px;
    height: 427px;
    top: 121px;
    left: -2px;
    gap: 0px;
    opacity: 0px;

}

img {
    width: 100%;
}

@media (max-width: 360px) {

    .Hero {
        width: 360px;
        height: 140px;
    }

    img {
        width: 360px;
        height: 140px;
    }

}