.Hero {
    width: 1442px;
    height: 427px;
    top: 121px;
    left: -2px;
    gap: 0px;
    opacity: 0px;

}

img {
    width: 1442px;
    height: 427px;
}


.boton-container {
    display: flex;
    width: 111px;
    height: 12px;
    margin-right: 10px;
    position: absolute;
    top: 540px;
    left: 628px;
    justify-content: space-between;
    padding-right: 15px
}

.hero-button {
    width: 12px;
    height: 12px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: transparent;
}

.hero-button:hover {
    background-color: white
}

.hero-button.selected {
    background-color: white;
}

@media (max-width: 360px) {

    .Hero {
        width: 360px;
        height: 140px;
    }

    img {
        width: 360px;
        height: 140px;
    }

    .button-hero-mini {
        display: flex;
        position: absolute;
        width: 109px;
        height: 10px;
        top: 250px;
        left: 125px;
        justify-content: space-evenly;
    }

    .button-hero-mini>button{
        width: 10px;
        height: 10px;
        border: 1px solid white;
        border-radius: 100%;
        background-color: transparent;
    }

    .button-hero-mini>button:hover {
        background-color: white
    }
    
    .button-hero-mini>button.selected {
        background-color: white;
    }
    

}