.popular-container {
    max-width: 1440px;
    height: 566px;
    margin-top: 80px;
    gap: 0px;
    background-color: white;

}

.popular-title {
    font-family: Roboto;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    line-height: 32px;
    text-align: left;
    color: black;
    padding-top: 50px;
    margin-left: 70px;
    width: 500px
}

.button-prev-pop {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 60px;
    top: 2160px;
    background-color: white;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 4px 20px 0px #80808040;
    cursor: pointer;
}

.button-next-pop {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 1350px;
    top: 2160px;
    background-color: white;
    border: none;
    border-radius: 100%;
    box-shadow: 0px 4px 20px 0px #80808040;
    cursor: pointer;
}

@media (max-width: 360px) {

    .popular-container {
        width: 360px;
        height: 380px;
        gap: 32px;
        margin-top: 40px;
        background-color: white;

    }

    .popular-title {
        width: 218px;
        height: 32px;
        font-family: Roboto;
        font-size: 24px;
        font-style: italic;
        font-weight: 800;
        text-align: left;
        color: black;
        padding-top: 50px;
        width: 300px; 
        position: relative;
        left: -60px;
        top: -10px
    }

    .button-popular-mini {
        display: flex;
        position: absolute;
        width: 109px;
        height: 10px;
        top: 1425px;
        left: 125px;
        justify-content: space-around;
    }

    .button-popular-mini>button{
        width: 10px;
        height: 10px;
        border: 1px solid  #DC1E0F;
;
        border-radius: 100%;
        background-color: transparent;
        cursor: pointer;
    }

    .button-popular-mini>button:hover {
        background-color:  #DC1E0F;

    }
    
    .button-popular-mini>button.selected {
        background-color:  #DC1E0F;

    }

}